{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <title>Ink'd! Under construction :(</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- CSS ================================================== -->
     {{ 'password_page_style.css' | asset_url | stylesheet_tag }}
  	 {{ 'button.scss.css' | asset_url | stylesheet_tag }}


 
</head>
<body>

  <div id='container'>
      <div id='store_logo'>
      {{ 'logo.png' | asset_url | img_tag }}
      </div>
      <div id='wellcome-message'>
          <p>
          {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
          {% else %}</p>
          <p><span class="default-text">Will be opening soon...</span></p>
          {% endif %}
        </div>
    
      <br>
      <div id='newsletter-container'>
        <p> If you would like to get free stuff or discounts when we launch, please subscribe to our mailing list! And we will send you the discount coupon when we are ready! </p>
        <!-- <h3>{{ 'layout.footer.newsletter_title' | t }}</h3> -->
              {% if settings.newsletter_form_action != blank %}
                <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}"  name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                  
                    <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  
                </form>
              {% else %}
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="input-group">
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}"  name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      
                      <button class="blob-btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                        Subscribe
						 <span class="blob-btn__inner">
      					<span class="blob-btn__blobs">
        				<span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                      </span>
                      </span>

                  </button>
                    </div>
                  {% endif %}
                {% endform %}
              {% endif %}
        </div>
    
    
    
     <div id='login'>
    	{% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for='password'>Enter password for employee login: </label>
        <input type='password' name='password' id='password' autofocus />
        <div class="actions">
          <input class="btn" name="commit" type="submit" value="Enter" />
        </div>
      {% endform %}
    </div> 
   
    </div>
 

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
